/*通用*/

* {
	/*margin: 0;*/
	padding: 0;
	overflow: auto;
}

/*清除滚动条*/
::-webkit-scrollbar {
	display: none;
}

html,
body {
	margin: 0;
	height: 100%;
	font-family: "微软雅黑";
	color:#424e67;
	background-color: #eff4f8;
}

div {
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}   
button,input{
	display: block;
	font: 15px 微软雅黑;
	outline: none;
	border-radius: 1em;
	border:none;
	height: 40px;
}
input{
	background-color:#e4e9ec ;
	text-indent: 15px;
}
button{
	padding: 10px;
	background-color:#337ab7;
	color: white;
}
button:hover{
	background-color: #286090;
}
button:active{
	background-color: #337ab7;
}
button[disabled]{
	background-color: #85b4dd;
}
/*-------------------提示---------------------*/
@keyframes slide
{
	0%{}
	30%{top:64px}
	70%{top:64px}
	100%{top:-110px}
}
@keyframes slideDown
{
	from {
		top:-130px;
	}
	to {
		top:64px;
	}
}
@keyframes slideUp
{
	from {
		top:64px;
	}
	to {
		top:-130px;
	}
}
.alert,.confrim{
	position: absolute;
	z-index: 999;
	width: 300px;
	left:50%;
	margin-left: -150px;
	font-size: 20px;
	line-height: 50px;
	box-shadow: 0 0 5px;
	text-align: center;
	background-color: #eff4f8;
	top:-110px;
}
.alert{
	height: 100px;
	animation:slide 2s cubic-bezier(0.35,-0.5,0.5,1.35);
}
.confrim{
	height: 130px;
	animation:slideDown 0.6s cubic-bezier(0.35,-0.5,0.5,1.35) forwards;
}
.confrim.active{
	animation:slideUp 0.6s cubic-bezier(0.35,-0.5,0.5,1.35) forwards;
}
.buttonGroup{
	position: absolute;
	bottom: 0px;
	width:100%;
	height: 50px;
}
.yes,.no{
	width:50%;
	height: 100%;
	border-radius: 0 !important;
}
input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
	height: 32px;
	background: inherit;
	width: 100px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
} 
input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
	background: darkgray;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
	margin-top: -6px;
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
   border: solid 1px darkgray;
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
