/*---------------通用------------------*/
* {
	/*margin: 0;*/
	padding: 0;
	overflow: hidden;
}
::-webkit-scrollbar {
	display: none;
}
html,body {
	margin: 0;
	height: 100%;
	font-family: "微软雅黑";
	color:#424e67;
	background-color: #eff4f8;
}
div {
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}   
button,input{
	display: block;
	outline: none;
	border:none;
	padding: 10px;
	width: 280px;
	/* height: 40px; */
	box-sizing: border-box;
	font: 15px "微软雅黑";
}
input{
	background-color:#e4e9ec ;
	text-indent: 15px;
}
/*---------------Alert------------------*/
@keyframes slide
{
	0%{}
	30%{top:64px}
	70%{top:64px}
	100%{top:-110px}
}
.alert{
	position: absolute;
	z-index: 999;
	width: 300px;
	left:50%;
	margin-left: -150px;
	font-size: 20px;
	line-height: 50px;
	box-shadow: 0 0 5px;
	text-align: center;
	background-color: #eff4f8;
	top:-110px;
}
.alert{
	height: 100px;
	animation:slide 2s cubic-bezier(0.35,-0.5,0.5,1.35);
}
/*---------------flex------------------*/
#header,.header_menu,.searchBar,.iconMenu,.slide,#footer,.playGroup,.playStatus,.playVolume,.tab,form{
	display: flex;
	align-items: center;
}

.playGroup,.playVolume,.playStatus{
	justify-content: space-around;
}

.iconMenu,.header_menu,#footer{
	justify-content: space-between;
}

/*---------------图标------------------*/
.lg,.sm{
	opacity: 0.8;
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.lg {
	font-size: 32px;
	transition: opacity 0.2s;
}

.sm {
	text-align: center;
	font-size: 25px;
}

.lg:hover,.sm:hover{
	opacity: 1;
}

/*---------------主容器------------------*/
#container {
	position: absolute;
	top: 60px;
	left: calc(50% - 530px);
	width: 1060px;
	height: 700px;
	border-radius: 20px;
	box-shadow: 10px 10px 50px gray;
	transition: all 0.5s;
}

#container.full {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
}

#bigMask {
	width: 100%;
	height: 100%;
}
/*---------------导航栏------------------*/
#header {
	width: 100%;
	height: 62px;
}

#header *{
	color: white;
}

.nav {
	width: 100%;
	height: 40px;
}
/*-----------logo与头部菜单----------*/
.logo,.header_menu {
	height: 100%;
}

.logo {
	float: left;
	margin-left: 30px;
	width: 200px;
	background: url(../../assest/img/logo/logo.png);
}

.header_menu {
	margin-left: 50px;
	padding-right: 20px;
	font-size: 20px;
}
/*-----------搜索框----------*/
.search {
	height: 30px !important;
	width: 100% !important;
	color: gray !important;
	border-radius: 1em;
}
/*-----------图标----------*/
.iconMenu {
	width: 280px;
}

.searchBar,.iconMenu {
	height: 100%;
}

/*-----------人物----------*/
.user {
	overflow: hidden;
	width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
	line-height: 32px;
}

.icon-avatar {
	float: left;
}

.userInfo {
	display: none;
}
/*---------------主要界面------------------*/
#main {
	z-index: 1;
	height: calc(100% - 114px);
	transition: all 0.3s;
}


#main.blur{
	filter:blur(7px);
}


#slideMenu,#info {
	height: 100%;
}
/*------------侧边栏-----------*/
#slideMenu {
	position: relative;
	float: left;
	width: 200px;
}
.title {
	margin-left: 10px;
}

.slide {
	position: relative;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	transition: all 0.3s ease-out;
	transform: translateX(0px);
}

.slide.active,.slide:hover {
	transform: translateX(7px);
}

.slide .iconfont{
	margin: 0 18px;
}

.playing {
	position: absolute;
	bottom: 0;
	padding: 5px;
	width: 100%;
}

.musicPic,.musicInfo {
	height: 50px;
}

.musicInfo{
	padding-left: 10px;
}

.musicPic {
	float: left;
	width: 50px;
	background: inherit;
	background-size: contain;
	transition: all 0.3s;
}

.playing .musicPic:hover {
	filter: brightness(0.7);
}

.songName,.singer{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*-----------页面信息-----------*/

.page {
	display: none;
	height: 100%;
}

.page.active,.page.N.active {
	display: block;
}

.page.N {
	text-align: center;
	font-size: 50px;
	line-height: 200px;
}

.page.N:before {
	content: '页面仍在开发中';
}
/*-----------发现音乐-----------*/
.box {
	padding-top: 15px;
	width: 100%;
	height: 230px;
}

.picList {
	position: relative;
	overflow: hidden;
	height: 200px;
}

.pic {
	position: absolute;
	top: 0;
	left: calc(50% - 250px);
	list-style: none;
	transition: all 0.3s ease-out;
}

.picimg {
	float: left;
	width: 500px;
	height: 200px;
	border: none;
}

.p1 {
	opacity: 0;
	transform: translate(-300px,0) scale(0.81);
}

.p2 {
	z-index: 2;
	transform: translate(-150px,0) scale(0.81);
	filter: brightness(0.8);
}

.p3 {
	z-index: 3;
	transform: translate(0,0) scale(1);
}

.p4 {
	z-index: 2;
	transform: translate(150px,0) scale(0.81);
	filter: brightness(0.5);
}

.p5 {
	opacity: 0;
	transform: translate(300px,0) scale(0.81);
}

.buttons {
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	height: 30px;
	text-align: center;
}

.buttons a {
	display: inline-block;
	width: 35px;
	height: 2px;
	cursor: pointer;
}
/*---------------播放列表------------------*/
.favorite_pic{
	width: 200px;
	height: 200px;
	background: url(../../assest/img/icon/favorite.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.favorite_time{
	width: 60%;
}
.favorite_pic,.favorite_time{
	float: left;
	margin: 20px;
}
.favorite_info{
	height: 45%;
}

table{
	width: 100%;
	text-align: left;
}
tr{
	
}
td,th{
	padding: 6px;
	text-indent: 10px;
}
td{
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}
.th_id{
	width: 10%;
}
.th_song{
	width: 35%;
}
.th_singer{
	width: 25%;
}
.th_album{
	width: 30%;
}
/*---------------底部------------------*/
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.playGroup,.playStatus,.playVolume {
	height: 100%;
}
/*-----------按钮组-----------*/
.playGroup {
	width: 200px;
}

.prev,.play,.next {
	display: block;
}

/*-----------进度条-----------*/
.playStatus {
	width: 700px;
}

.progress {
	display: block;
	width: 500px;
	height: 3px;
}

.progress_active {
	float: left;
	display: block;
	width: 0px;
	height: 100%;
}

.dot {
	position: absolute;
	top: calc(50% - 7.5px);
	z-index: 100;
	float: left;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	background-size: contain;
	box-shadow: 0 0 3px 1px;
	animation: rotating 1s linear infinite;
	animation-play-state: paused;
}

.dot.active {
	background-image: url(../../assest/img/icon/loading.png);
	animation-play-state: running;
}
/*-----------音量组件-----------*/
.playVolume {
	width: 200px;
	justify-content: space-around;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
	height: 20px;
	background: inherit;
	width: 80px;
	padding: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
} 

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
	background: darkgray;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
	margin-top: -6.5px;
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
   border: solid 1px darkgray;
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
/*---------------播放界面------------------*/
#playInterface {
	position: absolute;
	top: 62px;
	z-index: 10;
	display: none;
	width: 100%;
	height: calc(100% - 112px);
}

#mask {
	height: 100%;
}

.mtitle {
	padding-bottom: 20px;
	text-align: center;
}

.icon-back {
	position: absolute;
	top: 20px;
	right: 35px;
	z-index: 100;
}

.rt {
	position: relative;
	height: 314px;
}

@keyframes rotating {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

.disc {
	left: calc(50% - 157px);
	width: 300px;
	height: 300px;
	border: 7px solid rgba(255,255,255,0.1);
	background: url(../../assest/img/bg/changpian.png);
	animation: rotating 30s linear infinite;
	animation-play-state: paused;
}

.disc.active {
	animation-play-state: running;
}

.musicPic.large {
	top: 50px;
	left: 50px;
	width: 200px;
	height: 200px;
}

.disc,.musicPic.large {
	position: absolute;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
/*---------------登录界面------------------*/
#LSmask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
	z-index: 50;
	position: absolute;
	top:0;
	border-radius: 20px;

}
.front, .behind {
	width: 330px;
	height: 470px;
	background-color: white;
	left: calc(50% - 165px);
	top:100px;
	text-align: center;
	box-shadow:4px 8px 30px 2px rgba(0,0,0,.4);
	/* transform-style: preserve-3d; */
	position: absolute;
    backface-visibility: hidden;
    transition: 0.5s;
}

.front {
	z-index: 2;
	transform: rotateY(180deg);
}

.front.active{
	transform: rotateY(0deg);
}

.behind {
	transform: rotateY(180deg);
}

.behind.active{
	transform: rotateY(0deg);
	font-size: 30px;
	line-height: 140px;
}

.icon-success{
	font-size: 120px;
}

.LSlogo{
	height: 150px;
	font-size: 50px;
	line-height: 150px;
}

.icon-cloud{
	font-size: 50px;
}

.tab{
	justify-content: space-between;
	align-items: center;
	height: 45px;
	width: 200px;
	margin: 0 auto;
}
.tab_item {
	width: 80px;
	text-align: center;
}
.tab_item.active,.tab_item:hover{
	color: #3b8cff;
}
.slider {
	height: 3px;
	background-color:#3b8cff;
	width: 80px;
	margin-left: 65px;
}
.formGroup{
	width: 200%;
	height: 170px;
	overflow: hidden;
	margin: 25px 0;
}
.formGroup div{
	width: 50%;
	float: left;
	height: 100%;
}
form{
	flex-direction: column;
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}