/*---------------flex------------------*/
.slide,.playGroup,.playStatus,.playVolume,.header_menu,.searchBar,.person,.fun{
	display: flex;
	align-items: center;
}
/*---------------主容器------------------*/
#container {
	position: absolute;
	top: 100px;
	left: calc(50% - 537px);
	width: 1074px;
	height: 687px;
	border-radius: 20px;
	box-shadow: 10px 10px 50px;
	color: gray;
}
/*---------------导航栏------------------*/
#header {
	position: absolute;
	width: 100%;
	height: 62px;
	border-bottom: 1px solid #d8dfea;
	background: #F94073;
	color: white;
}

.nav {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 100%;
	height: 40px;
}
/*-----------logo与头部菜单----------*/
.logo,.header_menu {
	height: 100%;
	vertical-align: middle;
	line-height: 40px;
}

.logo {
	float: left;
	margin-left: 30px;
	width: 200px;
	background: url(../../assest/img/logo/logo.png);
}

.header_menu {
	margin-left: 50px;
	font-size: 20px;
}
/*-----------搜索框、人物、图标----------*/
.fun {
	float: right;
	margin-left: 40px;
	width: 200px;
	justify-content: space-around;
}

.searchBar,.person,.fun {
	height: 100%;
}
/*-----------搜索框----------*/
.search {
	height: 30px !important;
}
/*-----------人物----------*/
.person {
	margin-left: 350px;
}

.personInfo {
	display: none;
}

.avatar {
	border-radius: 100%;
	background: url(../../assest/img/avatar/avatar.png);
}
/*-----------fun----------*/
.skin,.setting,.msg {
	float: left;
}

.skin {
	background: url(../../assest/img/icon/skin.png);
}

.msg {
	background: url(../../assest/img/icon/msg.png);
}

.setting {
	background: url(../../assest/img/icon/setting.png);
}

.avatar,.skin,.setting,.msg,.previous,.play,.next,.voice{
	display: block;
	width: 32px;
	height: 32px;
	background-position: center center;
	background-repeat: no-repeat;
}

/*---------------主要界面------------------*/
#main {
	margin-top: 62px;
	height: calc(100% - 114px);
}

#slideMenu,#info {
	height: 100%;
}
/*------------侧边栏-----------*/
#slideMenu {
	position: relative;
	float: left;
	width: 200px;
	border-right: 1px solid #d8dfea;
}

.title {
	margin-left: 10px;
}

.slide{
	position: relative;
	height: 40px;
	color: gray;
	text-indent: 10px;
	font-size: 15px;
	line-height: 40px;
	transition: all 0.3s ease-out;
	transform: translate(0px,0px);
}

.slide.active,.slide:hover {
	background: #e4e9ec;
	transform: translateX(7px);
}

.icon {
	margin: 0 18px;
}

.playing {
	position: absolute;
	bottom: 0;
	padding: 5px;
	width: 100%;
	border-top: 1px solid #d8dfea;
}

.musicPic,.musicInfo {
	height: 50px;
}

.musicPic {
	float: left;
	width: 50px;
	background: url(../../assest/img/singer/linjunjie.png);
	background-size: cover;
}

.songName,.singer {
	display: block;
	margin: 2px 0px 2px 15px;
}
/*-----------信息栏-----------*/
#info {
	background: white;
}

.page {
	display: none;
	height: 100%;
}

.page.active,.page.N.active {
	display: block;
}

.page.N{
	text-align: center;
	font-size: 50px;
	line-height: 200px;
	color:#424e67;
}
.page.N:before{
	content: '页面仍在开发中';
}
/*-----------发现音乐-----------*/
.box{
	padding-top: 15px;
	width: 100%;
	height: 230px;
	border-bottom: 1px solid gray;
}
.list{
	position: relative;
	overflow: hidden;
	height: 200px;
}
.pic{
	position: absolute;
	top: 0;
	left: calc(50% - 250px);
	list-style: none;
	transition: all 0.3s ease-out;
}
.picimg{
	float: left;
	width: 500px;
	height: 200px;
	border:none;
}
.p1{
	opacity: 0;
	transform:translate(-300px,0) scale(0.81);
}
.p2{
	z-index: 2;
	transform:translate(-150px,0) scale(0.81);
	filter: brightness(0.8);
}
.p3{
	z-index: 3;
	transform:translate(0,0) scale(1);
}
.p4{
	z-index: 2;
	transform:translate(150px,0) scale(0.81);
	filter: brightness(0.5);
}
.p5{
	opacity: 0;
	transform:translate(300px,0) scale(0.81);
}

.buttons{
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	height: 30px;
	text-align: center;
}
.buttons a{
	display: inline-block;
	width: 35px;
	height: 2px;
	background-color: gray;
	cursor: pointer;
}
.blue{
	background: #3b8cff !important;
}

/*---------------底部------------------*/
#footer {
	height: 50px;
	border-top: 1px solid #d8dfea;
}
.playGroup,.playStatus,.playVolume{
	float: left;
	height: 100%;
	justify-content: space-around;
}
/*-----------按钮组-----------*/
.playGroup {
	width: 200px;
}

.previous,.play,.next {
	display: block;
}
.previous{
	background: url(../../assest/img/icon/previous.png);
}
.play {
	background: url(../../assest/img/icon/play.png);
}

.next {
	background: url(../../assest/img/icon/next.png);
}
/*-----------进度条-----------*/
.playStatus {
	width: 700px;
}

.progress {
	display: block;
	width: 500px;
	height: 3px;
	background-color: darkgray;
}

.progress.active {
	width: 0px;
	background-color: red;
}
.playVolume{
	justify-content: center;
}
.voice{
	background: url(../../assest/img/icon/voice.png);
	background-position: center center;
	background-repeat: no-repeat;
}