/*---------------flex------------------*/
li,.playGroup,.playStatus {
	display: flex;
	align-items: center;
}
/*---------------主容器------------------*/
#container {
	position: absolute;
	top: 100px;
	left: calc(50% - 537px);
	width: 1075px;
	height: 687px;
	border-radius: 20px;
	box-shadow: 10px 10px 50px;
	color: gray;
}
/*---------------导航栏------------------*/
#header {
	position: absolute;
	width: 100%;
	height: 62px;
	border-bottom: 1px solid #d8dfea;
	background: #f97398;
	color: white;
}

.nav {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 100%;
	height: 40px;
}
/*-----------logo与头部菜单----------*/
.logo,.header_menu {
	height: 100%;
	vertical-align: middle;
	line-height: 40px;
}

.logo {
	float: left;
	margin-left: 30px;
	width: 200px;
	background: url(../../assest/img/logo/logo.png);
}

.header_menu {
	margin-left: 50px;
	font-size: 20px;
}
/*-----------搜索框、人物、图标----------*/
.searchBar,.person {
	float: left;
}

.fun {
	float: right;
	margin-right: 10px;
}

.searchBar,.person,.fun {
	height: 100%;
}
/*-----------搜索框----------*/
.search {
	margin-top: 5px;
	height: 30px;
}
/*-----------人物----------*/
.person {
	margin-left: 350px;
}

.personInfo {
	display: none;
}

.avatar {
	border-radius: 100%;
	background: url(../../assest/img/avatar/avatar.png);
}
/*-----------fun----------*/
.skin,.setting,.msg {
	float: left;
}

.skin {
	background: url(../../assest/img/icon/skin.png);
}

.msg {
	background: url(../../assest/img/icon/msg.png);
}

.setting {
	background: url(../../assest/img/icon/setting.png);
}

.avatar,.skin,.setting,.msg,.play,.next {
	display: block;
	margin: 4px 20px 0 20px;
	width: 32px;
	height: 32px;
	background-position: center center;
	background-repeat: no-repeat;
}

/*---------------主要界面------------------*/
#main {
	margin-top: 64px;
	height: calc(100% - 114px);
}

#slideMenu,#info {
	height: 100%;
}
/*------------侧边栏-----------*/
#slideMenu {
	position: relative;
	float: left;
	width: 200px;
	border-right: 1px solid #d8dfea;
}

.title {
	margin-left: 10px;
}

li {
	position: relative;
	height: 40px;
	color: gray;
	text-indent: 10px;
	font-size: 15px;
	line-height: 40px;
	transition: all 0.3s ease-out;
	transform: translate(0px,0px);
}

li.active,li:hover {
	background: #e4e9ec;
	transform: translateX(7px);
}

.icon {
	margin: 0 18px;
}

.playing {
	position: absolute;
	bottom: 0;
	padding: 5px;
	width: 100%;
	border-top: 1px solid #d8dfea;
}

.musicPic,.musicInfo {
	height: 50px;
}

.musicPic {
	float: left;
	width: 50px;
	background: url(../../assest/img/singer/linjunjie.png);
	background-size: cover;
}

.songName,.singer {
	display: block;
	margin: 2px 0px 2px 15px;
}
/*-----------信息栏-----------*/
#info {
	background: white;
}

.page {
	display: none;
	height: 100%;
}

.page.active {
	display: block;
}
/*---------------底部------------------*/
#footer {
	height: 50px;
	border-top: 1px solid #d8dfea;
}
/*-----------按钮组-----------*/
.playGroup {
	float: left;
	width: 200px;
	height: 100%;
	justify-content: space-around;
}

.play,.next {
	display: block;
}

.play {
	background: url(../../assest/img/icon/play.png);
}

.next {
	background: url(../../assest/img/icon/next.png);
}
/*-----------进度条-----------*/
.playStatus {
	padding-left: 20px;
	line-height: 50px;
}

.time.l {
	margin-right: 50px;
}

.time.r {
	margin-left: 50px;
}

.progress {
	float: left;
	width: 500px;
	height: 2px;
	background-color: darkgray;
}

.progress.active {
	width: 200px;
	height: 2px;
	background-color: red;
}